body{
	text-align: center;
	background-color:#F6A5B7;
	color: white;
	font-family:  'Permanent Marker', cursive;
}

img {

max-width: 50%;
height: auto;
}

p{
background-color: #1FD5DE;
color: lightblue;
font-family:'Anton', sans-serif;
font-style: border;

}


h1{

	font-size: 50px;

}

h2{
	font-size: 50px;

}